// VARIABLES
// COLORES
$colorFondo: white;
$colorFondoMenuContenidoEnMeses: rgba(255, 255, 255, 0.061);
$colorFondoTablaSuscripcion: rgb(30, 0, 58);
$colorFondoNoticias: rgb(30, 0, 58);
$colorFondoCalendario: #1f001f;
// DIMENSIONES
$ancho: 700px;
$h1FontSize: 1.563rem;
